body {
  background-color: rgb(148, 174, 253)
}

/* column 1 | Welcome bar */
.col-welcome {
  background: #2d148f;
  color: white;
}
#welcome {
  margin-top: 30px;
}
.btn-warning{
  background-color: #8f145d;
  border-color: #c275a3;
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
}
.btn-primary {
  background-color: rgba(255, 255, 255, 0);
  border-width: 0;
  font-size: 16px;
}



/* first row | Nav bar */
.right-col-row1 {
  background-color: #14148f;
}
#row-nav-bar {
  display: flex;
  align-items: flex-start;
}
.nav-butt{
  background-color: rgba(255, 252, 252, 0);
  border-width: 0;
  color: white;
}
.nav-butt:hover {
  background-color: rgb(91, 111, 241);
  border-width: 3px;
  border-color: rgb(111, 111, 241);
  color: black;
}

/* row 2 col 1 | Email list */
.col-email {
  background-color: #1a1ab9
}
.btn-outline-success{
  background-color: rgba(121, 177, 232, 0);
  border-width: 1px;
  color: #ffffff;
  border-radius: 8px;
}
.d-flex{
  margin-top: 20px;
  margin-bottom: 30px;
}
.list-group-item:hover {
  background-color: rgb(113, 178, 247);
  color: white;
}
.list-group-item:focus:active {
  background-color: rgb(56, 151, 254);
  color: white;
}
.email-info {
    flex-grow: 1;
}
.name {
  display: flex;
  justify-content: center;
}
.date {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}


/* row 2 col 2 | Email Compose */
.col-email-contents {
  background-color: #2020e4;
  color: rgb(221, 217, 217);
}
.btn-outline-primary {
  background-color: rgba(121, 177, 232, 0);
  border-width: 1px;
  color: #ffffff;
  border-radius: 8px;
}
.message{
  display: flex;
  margin-top: 15px;
  margin-bottom: 50px;
  align-items: flex-start;
}